.rnp_menu {
    height: 26px;
    background-color: #eeeeee;
}

.rnp_menu > li {
    cursor: default;
    height: 16px;
    font-size: 14px;
    padding:4px 6px;
    float: left;
    border: 1px solid #eeeeee;
    color: #333333;
}

.rnp_menu > li.hover {
    background-color: #ffffff;
    border: 1px solid #cccccc;
}

.rnp_menu > li select {
    margin-top: 1px;
    padding: 1px;
    border: 1px solid #cccccc;
}

.rnp_li_ignore {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    border: 1px solid #eeeeee !important;
}

.CodeMirror-line-numbers {
    padding: 5px 0;
}

.CodeMirror-line-numbers > div {
    text-align: right;
    height: 14px;
    padding: 2px 3px 0 5px;
    border-right: 1px solid #cccccc;
    font-size: 12px;
    background-color: #eeeeee;
}
